.DS_Store
catalog-*.xml
/target/
.classpath
.project
.settings/
.pmd
src/main/java/info/openmultinet/ontology/vocabulary/
src/main/java/info/openmultinet/ontology/translators/geni/jaxb/
src/main/java/info/openmultinet/ontology/translators/tosca/jaxb/
src/test/java/info/openmultinet/ontology/vocabulary/
omnlib
